body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 20px;
}

.container {
    max-width: 400px;
    margin: 7% auto;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.back {
    display: block;
    text-align: center;
    margin-top: 10px;
    text-decoration: none;
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

.back:hover {
    background-color: #2186c7;
}

.message {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="number"],
textarea,
input[type="file"] {
    width: 94%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

img {
    display: block;
    max-width: 100%;
    margin: 10px 0;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 100%;
}

button[type="submit"]:hover {
    background-color: #2186c7;
}

textarea {
    resize: none;
}