body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.main {
    margin: 0 auto;
    max-width: 600px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}
h2 {
    font-size: 24px;
    color: #333;
}
img {
    max-width: 100%;
}
form {
    margin-top: 20px;
}
input[type="text"],
input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.register, .login {
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none; 
    display: inline-block; 
}

.register{
    background: red;
    font-size: 15px;
}

.login{
    background: #00B000;
}